################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FarmerOn/FileContentIndex
/.vs/FarmerOn
/FarmerOn.API/bin/Debug/net8.0
/FarmerOn.API/obj/Debug/net8.0/staticwebassets
